aiohttp==3.8.4
Django==4.2.6
influxdb==5.3.1
influxdb-client==1.36.1
ipykernel==6.24.0
ipython==8.14.0
mysqlclient==2.2.0
numpy==1.25.0
pandas==2.0.3
PyMySQL==1.0.2
yfinance==0.2.22
celery==5.3.4
redis==5.0.1
requests==2.31.0
flower==2.0.1
uWSGI==2.0.22
SQLAlchemy==2.0.25
logzero==1.7.0
websocket==0.2.1
scipy==1.11.4